@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
  --COLOR-PRIMARY: #3b82f6;
  --COLOR-PRIMARY-50: #eff6ff;
  --COLOR-PRIMARY-300: #93c5fd;
  --COLOR-PRIMARY-800: #1e40af;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--COLOR-PRIMARY-50);
  font-size: 1.6rem;
}

/** Button **/

.angle-icon {
  transition: transform 0.2s;
}

.btn-game-begin {
  background-color: var(--COLOR-PRIMARY);
  border: none;
  border-radius: 0.4rem;
  color: var(--COLOR-WHITE);
  display: block;
  font-size: 1.8rem;
  margin: 0 auto 1rem;
  padding: 2rem;
}

.btn-game-begin:hover {
  background-color: var(--COLOR-PRIMARY-800);
}

.btn-game-begin:hover .angle-icon {
  transform: translateX(25%);
}

/** Container **/

.container {
  color: var(--COLOR-SLATE-700);
  margin: auto;
  max-width: 120rem;
}

.container-question {
  margin: auto;
  max-width: 80rem;
  padding: 2rem;
}

/** Footer **/

.footer-home {
  border-top: thin solid var(--COLOR-PRIMARY-300);
  min-height: 15vh;
}

/** Link **/

.link {
  color: var(--COLOR-PRIMARY-800);
  font-size: 2rem;
  position: relative;
}

.link::after {
  background: var(--COLOR-PRIMARY);
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s, left 0.3s;
  width: 0;
}

.link:hover::after {
  left: 0;
  width: 100%;
}

.link:hover .left-angle-icon {
  transform: translateX(-25%);
}

.link:hover .right-angle-icon {
  transform: translateX(25%);
}

/** Main **/

.main {
  min-height: 75vh;
}

/** Main and Nav  **/

blockquote::before,
blockquote::after,
nav > a::after,
.nice-para::before,
.nice-para::after {
  content: "";
  height: 0.5rem;
  width: 7rem;
  background: var(--COLOR-SLATE-500);
  display: block;
}

/** Option **/

.option-li:hover {
  transform: scale(1.01);
}

/** Utility **/

.align-i-fs {
  align-items: flex-start;
}

.border-primary {
  border-color: var(--COLOR-PRIMARY);
}

.kushan-font-family {
  font-family: "Kaushan Script", cursive;
}

.text-primary {
  color: var(--COLOR-PRIMARY);
}

.text-primary-800 {
  color: var(--COLOR-PRIMARY-800);
}

.text-slate-500 {
  color: var(--COLOR-SLATE-500);
}
